h1 {
	text-align: center;
}

div.location {
	width: 100%;
	text-align: center;
}

div.group {
	page-break-after:always;
	
}
table.results {
	width: 17.5cm;
	border-spacing: 0pt;
	margin-top: 5mm;
}
table.fixed {
	table-layout:fixed;
}

table.results td{
	padding-left: 2mm;
	padding-right: 2mm;
	padding-top: 1mm;
	padding-bottom: 1mm;
	vertical-align: top;
}

th.name {
	width: 45mm;
}


span.smallClub {
	font-style: italic;
	font-size: 10pt;
	font-weight: normal;
}

span.lightColor {
	color: rgb(200,200,200);
}

td.number {
	text-align: right;
}

td.teamScore{
	text-align: center;
	vertical-align: middle;
}

td.resultValue{
	font-weight: bold;
}

td.singleScore{
	text-align: center;
	vertical-align: top;
}

table.groupGenerals {
	width: 100%;
	border:none;
	border-spacing: 8pt;
}

table.groupGenerals tr td:FIRST-CHILD{
	width: 4cm;
	text-align: right;
	font-weight:normal;
	border-right: 2pt solid black;
	height: 16pt;
	padding-right: 8pt;
	vertical-align: top;
}

table.groupGenerals tr td{
	text-align: left;
	vertical-align: top;
	font-weight:bold;
}

table.smallGeneral{
	width: 100%;
	border-bottom: 1pt solid black;
}

table.smallGeneral tr td:FIRST-CHILD {
	width: 50%;
	text-align: left;
}

table.smallGeneral tr td {
	width: 50%;
	text-align: right;
	font-style: italic;
}

th{
	padding: 3pt;
	font-style: italic;
	border-bottom: 2pt solid black;
}

th.attempt{
	width: 7mm;
}

th.weld{
	border-bottom: none;
}

table.group {
	width: 100%;
	border-spacing: 0mm;
	margin-top: 5mm;
}

table.group tr td{
	padding: 3pt;
}

td.base {
	width: 1.2cm;
}

td.category{
	width: 45mm;
	padding-left: 5pt;
	font-size: 10pt;
}

span.strike{
	text-decoration: line-through;
}

td.framed {
	border-left: 0.5pt dotted black;
	border-bottom: 0.5pt dotted black;
}
td.leftFramed {
	border-left: 0.5pt dotted black;
}
td.rightFramed {
	border-right: 0.5pt dotted black;
}
td.bottomFramed {
	border-bottom: 0.5pt dotted black;
}

td.thin {
	width: 1cm;
}

h2.breakAlways {
	page-break-before: always;
}

tr.topBorder {
	border-top: 1pt solid black;
}

tr.topBorder td {
	border-top: 1pt solid black;
}

.noPadding {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.noMargin {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

div.index {
	width: 100%; 
	text-align: center;
}

div.innerIndex {
	width: 100%;
	font-family: helvetica, arial, sans;
}

/*
a.announce:BEFORE {
	content: url("/img/bulletBlue.png");
	vertical-align: middle;
} 

*/

table.CenterIndex {
	width: 100%;
	height: 100%;
	border: 0px solid white;
	position: absolute;
}

table.CenterIndex tr td {
	text-align: center;
	vertical-align: middle;
}

a.print:LINK, a.print:VISITED {
	color: black;
	text-decoration: none;
}

a.print:HOVER {
	color: black;
	text-decoration: underline;
}

div.index * hr {
	width: 70%;
	color: grey;
	border-color: grey;
}