
@media screen {
	body {
		padding-top: 0px;
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		
		background-color: white;
		font-family: Verdana, Helvetica, sans;
		font-size: 14px;
	}
}
 
@media print {
	body {
		padding-top: 0px;
		margin-top: 0px;
		background-color: white;
		font-family: Lido STF CE, Times, serif;
		width: 28cm;
		font-size: 12pt;
	}
}

@Page {
  size: landscape;
}

div.AnnouncementsMenu {
	width: 100%;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

div.AnnouncementsMenu table {
	display: inline-block;
	float: left;
	border-spacing: 0px;
	border-collapse: collapse;
}

div.AnnouncementsMenu th, div.AnnouncementsMenu td {
	background-color: rgb(200,200,200);
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	border: none;
	padding: 4px 4px 4px 4px;
}

div.AnnouncementsMenu th{	
	font-weight: bold;
}

div.AnnouncementsMenu td{
	font-size: 12px;
}

div.AnnouncementsMenu th.Active, div.AnnouncementsMenu td.Active {
	background-color: #0082FF;
	color: white;
	font-weight: bold;
	font-style: normal;
	border: none;
}

div.AnnouncementsMenu td.Active a:LINK, div.AnnouncementsMenu td.Active a:VISITED {
	color: white;
	text-decoration: none;
}

td.Active a:ACTIVE, td.Active a:HOVER {
	color: white;
	text-decoration: underline;
}

div.AnnouncementsMenu td a:LINK, div.AnnouncementsMenu td a:VISITED {
	color: black;
}

div.AnnouncementsMenu td a:HOVER, div.AnnouncementsMenu td a:ACTIVE {
	color: white;
}

div.MainContainer {
	width: 100%; 
	border: none;
	clear:both;
}


div.AnouncementNames {
	display: inline-block;
	float: left;
	/* border: 1px solid green; */
}

div#RollingHorizontal {
	overflow: scroll;
	width: auto;
	/* border: 1px solid blue; */
	vertical-align:top;
}

div.AnouncementNames table.anouncement tr:nth-child(even),
div#RollingHorizontal table.anouncement tr:nth-child(even)
{
	background-color: rgb(240, 240, 240);
}

div.AnouncementNames table.anouncement tr:nth-child(odd),
div#RollingHorizontal table.anouncement tr:nth-child(odd)
{
	background-color: rgb(220, 220, 220);
}

table.anouncement th{
	background-color: white;
}

table.anouncement div{
	width: 32px;
}

table.anouncement {
	table-layout: fixed;
}

div#RollingHorizontal table.anouncement td {
	width: 32px;
	overflow: hidden;
}

td.anouncement {
	height: 30px !important;
	border-bottom: 1px solid black;
	overflow: hidden;
}

div#RollingHorizontal table.anouncement td.anouncement {
	text-align: center;
	vertical-align: middle;
}

div.technical:FIRST-CHILD {
	page-break-before: avoid;
}

div.technical {
	page-break-before: always;
}

table.technical{
	table-layout:fixed;
	border-spacing: 0mm;
}

td.technical{
	border-bottom: 0.5pt solid black;
	height: 8mm;
}

td.verticalLeft{
	border-left: 0.5pt dotted black;
}

td.vertical{
	border-right: 0.5pt dotted black;
}


th.fixWidth {
	width: 5.5mm;
	font-size: 8pt;
}

th.wideName {
	width: 7cm;
}

div.writeback {
	/* position: absolute; */
	width: 100% !important;
	height: 100%;
	background-position: center;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: none;
}